/*ho aggiunto questo file css perchè è richiesto di avere un css diverso per ogni profile utente, per ora la
la grafica è tutta uguale, poi decideremo come cambiarla*/
button {
    background-color: #EB7E10;
    color: white;
    border: 2px solid darkgray;
    padding: 30px 30px;
    border-radius: 20px;
    margin: 20px;
}
.content{
    background-color:#d09a547f;
}

/* modifiche a header e footer da loggato*/
.header {
    background-color: #EB7E10;
}
.footer{
    background-color: #EB7E10;
}

/*robe per la pagina delle attività*/
.container{
    color:#EB7E10;
}
.button {
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}
.buttons input[type="reset"],
.buttons input[type="submit"] {
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #EB7E10;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

/* robe per la pagina della donazione */
.donation-container {
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.donation-container h2 {
    margin-bottom: 20px;
    color: #666;
}
.input-container {
    position: relative;
    display: flex;
    width: 160px;
    height: 60px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px 1px #e0e0e087;
    align-items: center;
    justify-content: flex-end;
}

input[type="number"].donationvalue{
    padding: 0;
    width: 100%;
    height: 100%;
    position: unset;
    opacity: 1;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
    border:none;
    box-shadow: none;
    margin-left: 20px;
    font-size: 25px;
    color: #782600;
}

.donationseparator{
    width: 70%;
    background-color: #ffbe7b;
    margin-bottom: 20px;
    height: 2px;
}

.donationformcontainer{
    color: #EB7E10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

span.donationcurrency {
    margin-right: 15px;
    color: #b9b9b9;
    font-size: 25px;
}

.donationformcontainer h2{
    color: #EB7E10;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 35px;
}

input[type="submit"].donationsubmit {
    font-size: 20px;
    width: 160px;
    border-radius: 5px;
    height: 50px;
    transition: 0.2s;
}

input[type="submit"].donationsubmit:hover {
    background-color: #ffbe7b;
}

input[type="number"] {
    width: 150px;
    padding: 10px 10px 10px 25px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
input[type="number"]:focus {
    outline: none;
}
input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #EB7E10;
    color: #fff;
    font-size: 16px;
    cursor:pointer
}

h1, .quotesection, a.dashboardoption, .contactstitle, .dashboardtext, .dashboardtitle, .headerlinks a{
    color: #EB7E10;
}

.footer, button, div.buttonrow input.signupsubmit, .headerlinks a:hover{
    background-color: #eb7e10;
}

.usermenuseparator, .usermenucontent a:hover, div.buttonrow input.signupsubmit:hover, a.dashboardoption:hover{
    background-color: #ffaf6e;
}

a.dashboardoption:hover {
    border: 2px solid #EB7E10;
}


.homepagedownload {
    background-color:  #ffaf6e;
}

.homepagedownload:hover a{
    color: #ffaf6e;
}

section.home {
    background-color: #EB7E10;
}

.homestandard{
    color: #793e07;
}

/*style pagina profilo*/
.profile-container {
    background-color:#d09a547f;
}

.profileseparator {
    background-color: #EB7E10;
}

.profiletitle {
    color: #EB7E10;
}

.profile-info.odd{
    background-color: #fff2e7;
}

.profileinfotitle {
    color: #EB7E10;
}