.header,.footer {
    background-color: #4a71b0;
}
button {
    background-color:#45AEB1 ;
    color: white;
    border: 2px solid darkslategray;
    padding: 30px 30px;
    border-radius: 0px;
    margin: 20px;
}

.headerlinks{
    background-color:#dbedef;
}
.headerlinks a{
    color:#4a58b0;
}
.headerlinks a:hover {
    background-color:#4a71b0;
}
#frase{
    color:#4a71b0;
}
/*style pagina profilo*/
.profile-container{
    background-color:#4694AF;
    width: max;
    padding: 40px;
}
.profile-info label{
    text-align: center;
    color: #efffff;
    font-size: 20px;
    font-style:italic;
    font-weight:bolder;
}
h1{
    color:#073870;
    text-align:center;
    font-family: monospace;
    text-transform: uppercase;
}
/*style pagina attivita*/
.content{
    background-color:#c0dce8b8;
}
.container{
    color:#073870;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 35%;
    height: 25px;
    width: 25px;
    background-color: gray;
}
.container input:checked ~ .checkmark {
    background-color: cornflowerblue;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.buttons input[type="reset"],
.buttons input[type="submit"] {
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #56cc75;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

